.hero{
	 display:flex;
	 justify-content:center;
}
section>img{
	width:300px;
	height:300px;
	object-fit:cover;
	
}
#abc{
	text-align:center;
	padding:10px 10px 10px 10px;
}
.btn{
	background-color:orangered;
	border-radius:5px;
	height:40px;
	width:100px;
	color:white;
}
	
